<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.co.compendiumdev.sloganizer" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Eric Codes portfilio</name>
    <description>
        CODING DONE RIGHT
    </description>
    <author email="alan@compendiumdev.co.uk" href="http://compendiumdev.co.uk">
        Eric Codes
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<!-- versions:
	1.0.0 - 20170615 initial version converted from web
	1.0.1 - 20170615 added an icon, drawn in paint.net converted with http://pgicons.abiro.com/
    1.0.2 - 20170616 added support for link clicking - so added a more subdued "if you like this..."
	-->
	


    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0" />
    <allow-intent href="https://*/*" />
    <allow-intent href="http://*/*" />
    <!-- <allow-intent href="twitter:*" /> -->



</widget>
